body {
    font-family: 'Lato', sans-serif;
    background-color: rgb(248, 242, 248);
}

.container {
    width: 1300px;
    margin: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

header {
    padding: 10px 20px;
    box-shadow: 0px 1px 0px black;
}

.header_logo {
    width: 130px;
    height: auto;
    padding: 15px 10px;
    margin-left: 22px;
}

.header_nav {
    width: 500px;
    margin-left: 200px;
    margin-top: 22px;
}

.header_nav a {
    text-decoration: none;
    color: black;
    margin: 0px 25px;
}

.header_nav a:hover {
    text-decoration-line:underline;
    text-decoration-color: rgb(4, 97, 4);
    text-decoration-thickness: 1.5px;
    
}

.header_button {
    margin-left: 100px;
    margin-top: 22px;
}

.header_button a {
    text-decoration: none;
    font-size: 18px;
    padding: 0px 15px;
}

.header_button_one {
    color: black;
}

.header_button_one:hover {
    text-decoration-line:underline;
    text-decoration-color: rgb(4, 97, 4);
}

.header_button_two {
    background-color: rgb(51, 182, 51);
    border-radius: 40px;
}

.header_button_two:hover {
    background-color: black;
    border-radius: 40px;
}

.title {
    width: 100%;
}

.title_one {
    width: 45%;
    margin: auto;
}

.title_two {
    width: 45%;
    margin: auto;
}

.title_two .image_mom {
    padding: 30px 10px;
    width: 100%;
}